body {
    width: 70%;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    font-size: 32px;
}

h1, h2 {
    font-family: sans-serif;
    margin-top: 1.5em;
} 

table, th, td, caption {
    border-collapse: collapse;
    border: 1px solid black;
}

figcaption {
    font-style: italic;
}

figure {
    clear: right;
    float:right;
}